/* Mixins
-------------------------------------------------------------------------------*/
@mixin transition($transition, $length, $timing) {
  -moz-transition:$transition $length $timing;
  -o-transition:$transition $length $timing;
  -webkit-transition:$transition $length $timing;
  transition:$transition $length $timing;
}

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  -ms-border-radius: $radius;
  border-radius: $radius;
}

@mixin google-material-box-shadow() {
  -webkit-box-shadow: 0 0 2px rgba(0,0,0,.12),0 2px 4px rgba(0,0,0,.24);
  -moz-box-shadow:  0 0 2px rgba(0,0,0,.12),0 2px 4px rgba(0,0,0,.24);
  box-shadow: 0 0 2px rgba(0,0,0,.12),0 2px 4px rgba(0,0,0,.24);
}

@mixin box-shadow() {
  -webkit-box-shadow: 0 2px 6px rgba(0,0,0,0.26), 0 3px 6px rgba(0,0,0,0.26);
  -moz-box-shadow: 0 2px 6px rgba(0,0,0,0.26), 0 3px 6px rgba(0,0,0,0.26);
  box-shadow: 0 2px 6px rgba(0,0,0,0.26), 0 3px 6px rgba(0,0,0,0.26);
}

@mixin box-shadow-darker() {
  -webkit-box-shadow: 0 4px 7px rgba(0,0,0,0.26), 0 3px 6px rgba(0,0,0,0.26);
  -moz-box-shadow: 0 4px 7px rgba(0,0,0,0.26), 0 3px 6px rgba(0,0,0,0.26);
  box-shadow: 0 4px 7px rgba(0,0,0,0.26), 0 3px 6px rgba(0,0,0,0.26);
}

@mixin background-gradient($top-color,$bottom-color) {
  background: $bottom-color; /* old browsers */
  background: -webkit-linear-gradient($top-color,$bottom-color); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient($top-color,$bottom-color);
}

@mixin background-gradient-with-image($top-color,$bottom-color,$img) {
  background: $bottom-color; /* old browsers */
  background-image: url($img); /* fallback */
  background-image: url($img), -webkit-linear-gradient($top-color,$bottom-color); /* Chrome 10-25, Safari 5.1-6 */
  background-image: url($img), linear-gradient($top-color,$bottom-color);
}

@mixin vertical-align {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}